Source: grml-rescueboot
Section: admin
Priority: optional
Maintainer: Grml Team <team@grml.org>
Uploaders:
 Michael Prokop <mika@debian.org>,
 Christian Hofstaedtler <zeha@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 xmltoman,
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/grml/grml-rescueboot
Vcs-Git: https://github.com/grml/grml-rescueboot.git
Vcs-Browser: https://github.com/grml/grml-rescueboot

Package: grml-rescueboot
Architecture: all
Depends:
 grub-pc | grub-efi-amd64,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 debian-keyring,
 genisoimage,
 gpgv,
 wget,
Description: Integrates Grml ISO booting into GRUB
 This package provides a script for update-grub which looks for
 Grml ISO images in /boot/grml and automatically adds an entry
 for each image. The purpose is to use one of those images to
 boot a Grml rescue system without using a CD or USB stick.
